<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- responsive viewport meta tag -->

    <!-- Update your website title -->
    <title>Arisa Vaughns | Portfolio</title>

    <!-- Link Bootstrap CSS here -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Link custom CSS here -->
      <link rel="stylesheet" href="css/custom.css" type="text/css">
      
  </head>
  <body>
    <!-- Add your content here -->
          <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Arisa Vaughns</a>
          </nav>
      
      <div class="container" id="page-content">
          <div class="row">
              <!-- HeadShot --> <!-- I typed div#headshot-container -->
              <div class="col-sm-4">
                  <img class="img-fluid" id="headshot" src="images/IMG_0355.JPG" alt="headshot for Arisa Vaughns">
              </div>
      
      
      <!-- BIO -->
          <div class="col-sm-8">
              <h2>About ME</h2>
              <p>Hi! I am Arisa, a graduate of Florida A & M University. Currently, I am a student of I/O Avenue Tech Boot Camp in Tallahassee, FL.  I am learning many fundamental skills to become a Full-Stack developer which include: HTML, CSS and Javascript. I am also learning Ruby on Rails, SQL, OOP, Agile Methodology, and MVC. </p>
              <p>Check out my current project: </p>




          <!-- Linked Social Profiles and contact links -->
              <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/arisa-vaughns-610a7942/" target="_blank">LinkedIn</a>
              <a class="btn btn-outline-dark" href="https://github.com/AYEvb07" target="_blank">GitHub</a> 
              <a class="btn btn-outline-dark" href="mailto:arisa.vaughns@gmail.com" target="_blank">arisa.vaughns@gmail.com</a>
              
          </div>
              
              
          </div>
          
      </div>
      
    <!-- At the end of all your content, add Bootstrap JS here -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      
  </body>
</html>